
body{
    background: rgb(34, 34, 34);

}
*{
    text-decoration: none;
    color: inherit
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    border-bottom: 1px solid rgb(63, 63, 63);
    padding: 20px 0;
    color: #fff;
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page__body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
.nav__list{
    list-style: none;
    display: flex;
    align-items: center;
}
.nav__item:not(:last-child){
    margin-right: 30px;
}
.stop-scroll{
    overflow: hidden;
}
.burger{
    display: none;
    position: relative;
    width: 30px;
    height: 20px;
    border: none;
    cursor: pointer;
    padding: 0;
    background: transparent;
}
.burger__line{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: opacity 0.3s ease-in-out;
}
.burger::before,
.burger::after{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
}

.burger::before{
    top: 0;
}
.burger::after{
    bottom: 0;
}
.burger--active::before{
    top:50%;
    transform: rotate(45deg);
}
.burger--active::after{
    bottom: auto;
    top:50%;
    transform: rotate(-45deg);
}

.burger--active .burger__line{
    opacity: 0;
}
@media (max-width: 1024px){
    .burger{
        display: block;
    }
    .nav{
        --header-height: 63px;
        position: fixed;
        padding: 30px 0;
        right: 0;
        top: var(--header-height);
        z-index: 1000;
        height:calc(100vh - var(--header-height));
        width: 60%;
        max-width: 300px;
        overflow-y: auto;
        background-color: black;
        transform: translateX(100%);
        transition: transform 0.6s ease-in-out;
    }

    .nav--visible{
        transform: none;
    }


    .nav__item{
        width: 100%;
    }
    .nav__list{
        padding: 0px;
        flex-direction: column;
    }
    .nav__item:not(:last-child){
        margin-right: 0;
        margin-bottom: 30px;
    }
    .nav__link{
        width: 100%;
        font-style: 30px;
        border-bottom: 1px solid rgb(124, 124, 124);
        padding: 0 30px;
    }
}